.container {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
}
.container2 {
    padding: 15px;
    margin: 15px;
    border: 5px solid rgb(236, 6, 6);
}
.text-title {
    font-size: x-large;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(236, 6, 6)
}
.background{
    background-color: rgb(238, 78, 15);
}
.text{
    font-size: 20px;
}
.image {
     display: flex;
     flex-direction: row;

}